<h1>Register</h1>

<%= form_for :user, url: register_path do |f| %>
    <p>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

    <p>
    <%= f.submit 'Register' %>
<% end %>